*{
    margin: 0;
    padding: 0;
}
#first-sec h1{
    color: #EF231C;
}
  #first-sec h3{
    color: #515050;

  }  



.circle{
    position: relative;
    width: 442px;
height: 442px;
border-radius: 50%;
/* top: 764px; */

/* My light red */

background: #FF5252;
box-shadow: 0px 4px 4px 25px rgba(105, 126, 200, 0.25);
}
#vector-div{
    position: absolute;
    top: 32%;
    left: 32%;
border-radius: 50%;

}
.card{
    box-shadow: 0px 3.8419454097747803px 3.8419454097747803px 1.9209727048873901px #00000040;

}

.card-icons img{
    width: 37%;
}
/* #second-sec{
    width: 100%;
    
} */
