* {
	margin: 0;
	padding: 0;
}
.profile {
    display: flex !important;
}
.profile-div{
	display: flex;
}
.profile-div img{
    width: 20%;
}
.payment {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.payment-div {
	border: 1px solid #0066ff;
	border-radius: 20px;
}

.payment form {
	width: 100%;
}
.icons {
	width: 30%;
}
.icon-div {
	width: 80%;
	margin: auto;
}
.icons img {
	max-width: 100%;
}
.button-div {
	display: flex !important;
}
